<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create New Listing</h3>

    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          id="title"
          name="listing[title]"
          placeholder="Enter Title"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Title is required.</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          placeholder="Enter description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Description is required.</div>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input
          id="image"
          name="listing[image]"
          type="file"
          class="form-control"
          required
        />
      </div>
      <!-- Price and Country -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            id="price"
            name="listing[price]"
            placeholder="1199"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            id="country"
            name="listing[country]"
            placeholder="India"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country is required.</div>
        </div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          id="location"
          name="listing[location]"
          placeholder="Pune"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location is required.</div>
      </div>

      <!-- Submit Button -->
      <button class="btn btn-dark mt-3 add-btn" type="submit">Add</button>
    </form>
    <br />
  </div>
</div>
