body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .navbar-collapse{
    background-color: #5fe212;
    width: 100vh;
    padding-left: 90px;
} */




.container {
    flex: 1;
}


.navbar {
    height: 5rem;
    background-color: rgb(255, 255, 255);
}

.fa-solid {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links {
    width: 100%;
    vertical-align: middle;
}

.navbar-nav {
    background-color: white;
}

.f-info-social {
    width: 100%;
    font-size: 1.4rem;
    color: #222222;
}

.f-info-links,
.f-info-social,
.f-info-bards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i {
    margin-right: 0.7rem;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: rgb(238, 236, 236);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

a {
    text-decoration: none;
}

i{
    color: black;
}

.whatsapp i:hover {
    color: #5fe212;
    
}

.linkdin i:hover {
    color: rgb(38, 17, 226);
     /* animation: infinite;
    transition: 1s all ease-in; */
}

.instagram i:hover {
    color: rgb(220, 60, 82);
     /* animation: infinite;
    transition: 1s all ease-in; */
}


/* cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
}

.card-text p {
    font-weight: 400;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.3;
    background-color: white;
}

.add-btn {
    background-color: #fe424d;
    border: none;
}


/* SHOW PAGE*/

.show-img {
    height: 40vh;
}

.btns {
    display: flex;
}

textarea{
    border: #fe424d solid 5px;
    border-radius: 200px;
}

.card{
    background-color: #ffffff;
    padding: 10px;
    gap: 10px;
    border: #ece2e2 solid 2px;
}

